.article__title {
    font-size: var(--heading-page);
    font-family: var(--font-website);
    font-weight: 500;
    color: var(--black-site);
  }

  .article__header-text {
    font-family: var(--font-website);
    font-size: var(--entete--text);
    color: var(--black-site);
    font-weight: 400;
  }

  .article__text {
    font-family: var(--font-website);
    font-size: var(--text);
    color: var(--black-site);
    font-weight: 400;
  }

  .article__subheading {
    font-family: var(--font-website);
    color: var(--black-site);
    font-size: var(--heading-2);
    margin-top: 2rem;
  }

  .article__img-caption {
    color: var(--gris-legende);
    font-family: var(--font-website);
    font-size: var(--text-legend);
    text-align: center;
  }

  .article__img-artiste{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .article__information-oeuvre {
    color: var(--black-site);
    font-family: var(--font-website);
    font-size: var(--text);
  }

  .article__information-oeuvre--link{
    color: var(--black-site);
  }

  
